@font-face {
  font-family: Helvetica_Regular;
  src: url('../_fonts/Helvetica_Now/Helvetica_Now_Display/HelveticaNowDisplay-Regular.otf');
}

@font-face {
  font-family: Helvetica_Light;
  src: url('../_fonts/Helvetica_Now/Helvetica_Now_Display/HelveticaNowDisplay-Light.otf');
}

@font-face {
  font-family: Helvetica_Bold;
  src: url('../_fonts/Helvetica_Now/Helvetica_Now_Display/HelveticaNowDisplay-Bold.otf');
}

@font-face {
  font-family: Helvetica_Black;
  src: url('../_fonts/Helvetica_Now/Helvetica_Now_Display/HelveticaNowDisplay-Black.otf');
}

@font-face {
  font-family: Hurme_Geometric_Sans_Light;
  src: url('../_fonts/Hurme_Geometric_Sans/HurmeGeometricSans4-Light.otf');
}

.hnd-b{
	font-family: Helvetica_Bold;
}

.hnd-r{
	font-family: Helvetica_Regular;
}

.hnd-l{
	font-family: Helvetica_Light;
}

.hnd-bl{
	font-family: Helvetica_Black;
}

.hgs-l{
	font-family: Hurme_Geometric_Sans_Light;
}

*{
	font-family: Helvetica_Regular;
}


body{
}

.mr-15px{
	margin-right: 15px;
}

.t18-px{
	font-size: 18px;
}

.t20-px{
	font-size: 20px;
}

.t22-px{
	font-size: 22px;
}

.t23-px{
	font-size: 23px;
}

.t15-px{
	font-size: 15px;
}

.t34-px{
	font-size: 34px;
}

.t38-px{
	font-size: 34px;
}

.t30-px{
	font-size: 30px;
}

.t28-px{
	font-size: 28px;
}

.t32-px{
	font-size: 28px;
}

.t40-px{
	font-size: 40px;
}

.t44-px{
	font-size: 44px;
}

.lh-44px{
	line-height: 44px;
}

.lh-22px{
	line-height: 22px;
}

.menu-item-color{
	color: #707070;
}

/* Matches screen between 320px AND 768px */
@media only screen and (max-width: 991px) {

	.menu-item-color {
	  background-image: linear-gradient(
	    to right,
	    #fff,
	    #fff 50%,
	    rgba(255, 255, 255, .50) 50%
	  );
	  background-size: 200% 100%;
	  background-position: -100%;
	  display: inline-block;
	  padding: 5px 0;
	  position: relative;
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	  transition: all 0.3s ease-in-out;
	  font-family: Helvetica_Black;
	}

	.menu-item-color:before{
	  content: '';
	  background: #fff;
	  display: block;
	  position: absolute;
	  bottom: -3px;
	  left: 0;
	  width: 0;
	  height: 3px;
	  transition: all 0.3s ease-in-out;
	}

	.menu-item-color:hover {
	 background-position: 0;
	}

	.menu-item-color:hover::before{
	  width: 100%;
	}
}

.navbar{
	transition: all .2s ease-in-out;
}

.navbar-scrolled{
	background-color: #fff !important;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
}

.bi-red-color{
	color: #CC1840;
}

.bi-gray-color{
	color: #707070;
}

.bg-bi-black-alt{
	background-color: #282828;
	border: 1px solid #282828;
	color: white;
	transition: all .15s ease-in-out;
}

.bg-bi-black-alt:hover{
	background-color: white;
	color: #282828;
	transform: translateY(-15px);
	
}

.btn-bi-red{
	background-color: #CC1840;
	color: #fff;
	transition: all .2s ease-in-out;
	padding: 10px  25px 10px 25px;
}

.btn-bi-red:hover{
	background-color: #282828;
	color: #fff;
}


.btn-bi-red-outlined{
	background-color: #CC1840;
	color: #fff;
	transition: all .2s ease-in-out;
	padding: 10px  25px 10px 25px;
}

.btn-bi-red-outlined:hover{
	background-color: #282828;
	border: 1px solid white;
	color: #fff;
}

.sub-text-bi-hero{
	color: #CC1840;
	font-size: 30px;
	padding-left: 15px;
}

.par-text-bi-hero{
	color: #282828;
	font-size: 20px;
}

.main-text-bi-hero{
	color: #282828;
	font-size: 39px;
}

.input-card {
    display: flex;
    background-color: #fff;
    padding: 0.6125rem 0.6125rem;
    /*box-shadow: 0 0.375rem 1.5rem 0 rgb(140 152 164 / 13%);*/
    border-radius: 0.5rem;
}

.input-card .input-card-form:not(:last-child) {
    padding-right: 1rem;
}
.input-card .input-card-form {
    position: relative;
}

.input-card .input-card-form {
    flex: 1 0 0%;
}

.visually-hidden, .visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute!important;
    width: 1px!important;
    height: 1px!important;
    padding: 0!important;
    margin: -1px!important;
    overflow: hidden!important;
    clip: rect(0,0,0,0)!important;
    white-space: nowrap!important;
    border: 0!important;
}

.input-card .form-control {
    border-width: 0;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #B1B1B1 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #B1B1B1 !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #B1B1B1 !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #B1B1B1 !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #B1B1B1 !important;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #B1B1B1 !important;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}